<h2 class="screen-align">Dashboard</h2>
<div id="margin" class="">
    <div id="template-i3qi" class="row">
        <div id="template-io73" class="col-lg-4 col-md-6">
            <section id="template-ice4" class="card">
                <div id="template-i7bg" class="twt-feed blue-bg">
                    <div id="template-ir75" class="media">
<a href="#" id="template-ivnd" class="">
<label for="fileInput" id="template-i4qz" class="hoverable">
<img alt="" [src]="url ? url :'https://cdn.grapedrop.com/uf9ef8595751c4d1f87c91168f5d51a8c/34da9b5b3356418282bc24aa078c46f3_favicon.png'" id="template-i55j" class="align-self-center rounded-circle mr-3"/>
<div id="template-iyz7g" class="hover-text">
</div>
<div id="template-i6bxp" class="background">
</div>
</label>
<br id="template-ik2d1" class="">
</br>
<input id="fileInput" type="file" (change)="onSelectFile($event)" class=""/>
</a>

                        <div id="template-i4v5v" class="media-body">
                            
<h1 id="template-i7fl7" class="text-white display-6">
Welcome</h1>

                            
<h3 id="template-iu412" class="text-light">
{{ firstName }} {{ lastName }}</h3>

                        </div>
                    </div>
                </div>
            </section>
        </div>
        <div id="template-iifx6" class="card col-lg-3 col-md-6 no-padding">
            <div id="template-iq0p5" class="card-body">
                <div id="template-it6de" class="h1 text-muted text-right mb-4">
<i id="template-izr8f" class="fa fa-users">
</i>

                </div>
                <div id="template-ip0fv" class="h4 mb-0">
<span id="template-iome5" class="count">
10</span>

                </div>
<small id="template-i9kqt" class="text-muted text-uppercase font-weight-bold">
users</small>

                <div id="template-iqhgy" class="progress progress-xs mt-3 mb-0 bg-flat-color-1"></div>
            </div>
        </div>
    </div>
    <div id="template-iq9dd" class="">
        <figure id="template-i0q6j" class="highcharts-figure">
            <div id="container" class="card"></div>
        </figure>
    </div>
</div>